#logs de errores
logs
*.log

#carpetas 
/config/
/

#Archivos locales
*.local

#Archivos vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets